:root {
  --primary-color: #0057a0;
  --secondary-color: #f2f2f2;
  --text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --body-font: Arial, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0 30px gray;
  --aside-bg: #eee;
}

/* Use variables here */
body {
  font-family: var(--body-font);
  color: var(--text-color);
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding);
}

nav a {
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
}

main {
  max-width: 840px;
  margin: 0 auto;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: var(--box-shadow);
}

aside {
  width: 20rem;
  margin: var(--padding);
  border: var(--border);
  padding: var(--padding);
  background-color: var(--aside-bg);
  color: var(--text-color);
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: var(--border);
  text-align: center;
  padding-top: 10px;
}
